/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}
.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0faff;
}
.wrapper {
  position: relative;
  max-width: 570px;
  max-height: 800px;
  width: 130%;
  height: 70%;
  border-radius: 12px;
  padding: 20px
    30px
    10px;
  background: #0f0d3056;
  box-shadow: 0
    5px
    10px
    rgba(
      0,
      0,
      0,
      0.1
    );
  overflow: hidden;
}
.form header{
  margin-top: 30px;
  max-height: 800px;
  font-size: 60px;
  text-align: center;
  color: aliceblue;
  font-weight: 600;
  font-family: papyrus;
}
.wrapper form{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 80px;
    height: 40%;
}
form input{
  height: 75px;
  outline: none;
  border: none;
  padding: 0 15px;
  font-size: 25px;
  font-weight: 400;
  color: #333;
  border-radius: 8px; 
  background-color:rgba(255, 255, 255, 0.6);
}
button{
  padding: none;
  margin-top: 35px;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  height: 80px;
 background-color: rgba(23, 148, 23, 0.904);
 border: none;

}